{% extends "task/base.html" %} 
{% block content %}
  {% if dev %}
    <h1>Les tâches de {{dev.last_name}} {{dev.first_name}}</h1>
    <h2 class="subtitle">Nom d'utilisateur : {{dev.username}}</h2>
  {% else %}
    <h1>Toutes les tâches</h1>
  {% endif %}
  {% if tasks %}
    <div id="tasksGroup" class="list-group">
      {% for task in tasks %}
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ task.title }}</h5>
          {% if dev %}
          <form action="{% url 'task:delete' task.id dev.id %}" method="post">
          {% else %}
          <form action="{% url 'task:delete' task.id 0 %}" method="post">
          {% endif %}
            {% csrf_token %}
            <div>
              <button
                onclick="return confirm('Attention, voulez vous vraiment supprimer la tâche `{{task.title}}` assigned to {{ task.assigned|upper }}?');"
                class="close"
                type="submit"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </form>
        </div>
        <p class="mb-1">Assignée à : {{ task.assigned|upper }}</p>
        <p class="mb-1">
          Créer le : {{ task.dateTimeCreation|date:"d/m/Y" }} à {{task.dateTimeCreation|date:"H:i:s" }}
        </p>
        <p class="mb-1">{{ task.description }}</p>
      </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="noRegister">
      <p>Aucune tâches enregistrées</p>
    </div>
  {% endif %} 
  {% include "_task_modal.html" %} 
{% endblock content %}
