{% extends "_base.html" %} {% load crispy_forms_tags %} {% load
crispy_forms_filters %} {% block content %} {% if developers %}

<div>
  {% load static %}
  <h1>Tous les developpeurs</h1>
  <div id="allCards">
    {% for dev in developers %}
    <div id="oneCard" class="card bg-info">
      <div class="card-title">
        <b> {{ dev.last_name|upper }} {{ dev.first_name|upper }}</b>
      </div>
      <div class="card-body">
        {{ dev.tasks.all|length }} tâche{{developer.tasks.all|length|pluralize}}
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-light">Détails</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div>
  <p>Aucun développeur pour le moment !</p>
</div>
{% endif %} {% include 'developer/dev_modal.html' %} {% endblock content %}
