{% extends "_add_modal.html" %} 
{% load crispy_forms_filters %} {% load crispy_forms_tags %} 

{% block buttonContent %}
  Ajouter une tâche
{% endblock buttonContent %} 

{% block modalTitle %} Nouvelle tâche {% endblock modalTitle %} 

{% block modalForm %}

{% if dev %}
<form action="{% url 'task:create' dev.id %}" method="post">
{% else %}
<form action="{% url 'task:create' 0 %}" method="post">
{% endif %}
  {% csrf_token %} {{ form|crispy }}
  <div>
    <button class="btn btn-primary" type="submit">Créer la tâche</button>
  </div>
</form>
{% endblock modalForm %}
