body {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 1fr 9fr;
}

header {
  grid-area: header;
  margin-bottom: 2em;
}

main {
  grid-area: main;
  font-size: 18px;
}

main h1 {
  font-size: 35px;
  margin-top: 1em;
  margin-left: 1em;
  text-decoration: underline;
}

nav {
  height: 80px;
  font-size: 18px;
}

#navbar-brand {
  font-size: 24px;
  margin-left: 1em;
}

#navbar-nav {
  margin-left: 5em;
}

#allCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 2em;
}

#oneCard {
  margin: 3em;
  width: 250px;
}

#addDevButton {
  margin-left: 5em;
  font-size: 18px;
  width: 250px;
  height: 40px;
}
