@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 1fr 9fr;
}

header {
  grid-area: header;
  margin-bottom: 2em;
}

main {
  grid-area: main;
  font-size: 18px;
}

main h1 {
  font-size: 35px;
  margin: 2em;
  text-decoration: underline;
}

.subtitle{
  margin-left: 3em;
  margin-bottom: 1em;
}

.noRegister{
  margin-left: 8em;
}

nav {
  height: 80px;
  font-size: 18px;
}

#navbar-brand {
  font-size: 24px;
  margin-left: 1em;
}

#navbar-nav {
  margin-left: 5em;
}

#navbar-nav a {
  margin-left: 2em;
}

#allCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#oneCard {
  padding: 10px;
  margin-left: 4em;
  margin-bottom: 4em;
  margin-top: 2em;
  width: 250px;
}

#addButtonBeforeModal {
  margin-top: 1em;
  margin-left: 4em;
  font-size: 18px;
  width: 250px;
  height: 40px;
}

.loginButton{
  text-align: center;
		padding: 1em;
    width: 150px;
		background: rgb(123, 126, 156);
		color: white;
		border: none;
		border-radius: 30px;
}

.loginButton:hover{
  text-decoration: none;
  background: rgb(84, 87, 112);
  color: white;
}

#loginFormButton{
  margin-top: 2.5em;
}
